.site-footer {
    color: #D9D9D9;
    background-color: #323232;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px 8vw;
    padding-top: 80px;
}

.footer-container {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 80px;
}

.footer-section {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}

.footer-section ul li {
    margin-bottom: 10px;
    list-style: none;
}

.footer-section h2 {
    color: white;
}

.footer-socials img {
    width: 40px;
}

.footer-socials {
    display: flex;
    gap: 15px;
}

.site-footer li {
    cursor: pointer;
}

.site-footer hr {
    width: 100%;
    height: 2px;
    margin: 20px 0px;
}

.footer-text {
    text-align: center;
}

@media (max-width:750px) {
    .footer-container {
        display: flex;
        flex-direction: column;
        gap: 35px;
    }
}
