.header-main{
    height: 34vw;
    margin: 30px auto;
    background: url('/header_img.png') no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    border-radius: 10px;
}
.header-subclass{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.5vw;
    max-width: 50%;
    bottom: 10%;
    left: 6vw;
    animation: fadeIn 3s;
}
.header-subclass h2{
    font-weight:500;
    color: #000;
    font-size: max(4.5vw,22px);
}
.header-subclass p{
    color: #000;
    font-size: 1vw;
}
.header-subclass button{
    border: none;
    color: #fff;
    font-weight: 500;
    padding: 1vw 2.3vw;
    background: #000;
    font-size: max(1vw,13px);
    border-radius: 50px;
}
@media (max-width:1050px) {
    .header-main{
        height: 38vw;
    }
    .header-subclass{
        max-width: 45%;
    }
}
@media(max-width:750px){
    .header-subclass{
        max-width: 55%;
    }
    .header-subclass p{
       display: none;
    }
    .header-subclass button{
        padding: 2vw 4vw;
    }
}